In [40]:
#GRADE CALCULATOR
print("\t\t\t\t\t\tGrade calculator")
sum=0
for i in range(5):
    number=int(input("ENTER THE number of 5 subject for finding grade"))
    sum+=number
print("your total number out of 500 is ",
if sum>450:
    print("GRADE=A")
elif 450<sum>400:
    print("grade=b")
elif 400<sum>350:
    print("GRADE=C")
else:
    print("grade=d")

						Grade calculator

ENTER THE number of 5 subject for finding grade 98
ENTER THE number of 5 subject for finding grade 98
ENTER THE number of 5 subject for finding grade 98
ENTER THE number of 5 subject for finding grade 98
ENTER THE number of 5 subject for finding grade 98

your total number out of 500 is  490
GRADE=A

In [42]:
#simple calculator

In [44]:
a=10
print(f'raman{a}')

raman10

In [46]:
#default parameter
def greet(name="guest"):
    print(name)
greet("students")

students

In [54]:
#keyword argument
def student(name,age):
    print(f"Name: {name},Age: {age}")

student(age=21, name="Amit")

Name: Amit,Age: 21

In [1]:
# Arbitrary ARGUMENT
def total_marks(*marks):
    sum=0
    print("Marks are:", marks)
    for i in marks:
        sum+=marks
    print("Total:", sum)
total_marks(35,67,89,75)

Marks are: (35, 67, 89, 75)

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [74]:
def profile(**info):
    for key, value in info.items():
        print(f'{key}:{value}')

profile(name="PRINCE",age=18,course="BCA")

name:PRINCE
age:18
course:BCA

In [2]:
#FILE HANDLING
a=open(r'D:\prince\prince.txt','a')
a.write("hello world ")
# mode=D-READ
# W-WRITE
# A-APPEND
#x for checking existence of file

12