In [1]:
#DS assignment 1 string
#upper
a="prince"
a=a.upper()
print(a)
#strip
a="prince"
a=a.strip()
print(a)
#startswith
a="prince"
a=a.startswith("y")
print(a)
#split
a="prince"
a=a.split()
print(a)
#replace
a="prince"
a=a.replace("v","g")
print(a)
#lower
a="prince"
a=a.lower()
print(a)
#join
a=["prince","singh"]
a=" ".join(a)
print(a)
#index
a="prince"
a=a.index("r")
print(a)
#find
a="prince"
a=a.find("u")
print(a)
#endswith
a="prince"
a=a.endswith("k")
print(a)
#count
a="aprince"
a=a.count("u")
print(a)
#capitalize
a="prince"
a=a.capitalize()
print(a)
#casefold
a="prince"
a=a.casefold()
print(a)

PRINCE
prince
False
['prince']
prince
prince
prince singh
1
-1
False
0
Prince
prince

In [9]:
a = [[],[[[],[[],[34,'ansrk']]]]]
print(a)
print(a[1][0][1][1][1][::-1])

[[], [[[], [[], [34, 'ansrk']]]]]
krsna

In [5]:
b = [[23,[[],[],[[[[],[],[[34,56,89]]]]]]]]
print(b)
print(b[0][1][2][0][0][2][0][1])

[[23, [[], [], [[[[], [], [[34, 56, 89]]]]]]]]
56

In [7]:
c = ['Syntax','found',[[[[34,43,43]],[[],['Nice','error']]]]]
print(c)
print(c[2][0][1][1][1])

['Syntax', 'found', [[[[34, 43, 43]], [[], ['Nice', 'error']]]]]
error

In [19]:
if 100==10:
    print('all good')
elif 1000==10:
    print("correct")
else:
    print('not good')

not good

In [13]:
if 200<300:
    print('hi all')
    if 500!=500:
        print('not')
    elif 599>200:
        print('time')
        if 1234==234:
            print('hi')
        else:
            print('good')
    else:
        print('class')
elif 233==233:
 if 890>89:
    print('students')
 else:
    print('last')

hi all
time
good

In [46]:
# nested if else ATM
print("\t\t\t\t\t\t welcome to punjab national bank")
amount=50000000
pin=1234
if "card"==input("enter your card"):
    print("welcome")
    if pin==int(input("enter your pin")):
     print('\t\t\t\t\t\t1)check balance\n\t\t\t\t\t\t2)cash withdrawn')
    option=int(input("select your option"))
    if option==1:
         print("your account balance is =",amount)
    elif option==2:
        user_amt=int(input("enter amount"))
        print("your amount is withdrawn")
        print("amount left after withdrawn",amount-user_amt)
    else:
        print("invalid pin")
else:
    print("invalid card")

						 welcome to punjab national bank

enter your card card

welcome

enter your pin 1234

						1)check balance
						2)cash withdrawn

select your option 2
enter amount 5000

your amount is withdrawn
amount left after withdrawn 49995000

In [90]:
# for loop string
a="python"
for i in a:
    print(i, end=" ")
for i in "raman":
 print(i)

p y t h o n r
a
m
a
n

In [74]:
# for loop integer
a=5
for i in range(a):
 print(i)

0
1
2
3
4

In [88]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [106]:
#list even or odd number
a=[1,2,3,4,5,6,7,8,9,10]
even=[]
odd=[]
for i in a:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [114]:
#even odd sum
g=[12,324,5321,12,4215,1234,122,33,4213]
even=[]
odd=[]
evensum=0
oddsum=0
for i in g:
    if i%2==0:
        even.append(i)
        evensum+=i
        
    else:
        odd.append(i)
        oddsum+=i
print(even)
print("even sum=",evensum)
print(odd)
print("odd sum=",oddsum)

[12, 324, 12, 1234, 122]
even sum= 1704
[5321, 4215, 33, 4213]
odd sum= 13782

In [122]:
# sum of list
t=[1,2,3,4,5]
sum=0
for i in t:
    sum+=i
print(sum)

15

In [154]:
# nested for loop
for i in "abc":
    print(i,)
    for j in "123":
        print(j,end=" ")
        for k in "***":
            print(k,end=" ")

a
1 * * * 2 * * * 3 * * * b
1 * * * 2 * * * 3 * * * c
1 * * * 2 * * * 3 * * *

In [194]:
a="abcdefghijklmnopqrstuvwxyz"
value=input("enter the name for finding index=")
for i in value:
    if i in a:
        t=a.index(i)
        print(t+1,end=" ")

enter the name for finding index= prince

16 18 9 14 3 5

In [241]:
#appending value in list 
a=[23,[[]]]
for i in range(1,11):
    a[1][0].append(i)
print(a)

[23, [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]]