In [14]:
#tuple(typecasting)
t=(10,20,30)
print(t)
y=list(t)
print(type(y))
print(y[0])
# print(t[1])
y.append(40)
print(y)
print(tuple(y))

(10, 20, 30)
<class 'list'>
10
[10, 20, 30, 40]
(10, 20, 30, 40)

In [22]:
#set and list is mutable
#currly braces{}
s2={1,1,2,3,4}#multiple elements not included
print(s2)
for i in s2:
    if 1==i:
        print(i)
        break
    else:
        print("notfound")

{1, 2, 3, 4}
1

In [30]:
#se tin built function
s={2,3,4,5,67,8}
s.remove(5)#if value not fined show error
s.discard(10)#doesnot show error
# print(s.pop(0))
print(s)

{2, 3, 67, 4, 8}

In [ ]:
#API=application programming interface (includes json)
# web strapping= collection data from different website

In [46]:
#dictionary
#allowed list,tuple,and string also
d={'name':'alice',10:25,'age':[10,20,30]}
print(d['age'][2])
print(d['name'])
print(d[10])
#updation
d['age']=[30,40,50]
print(d)
#accessing keys
print(d.keys())
#accessing values
print(d.values())

30
alice
25
{'name': 'alice', 10: 25, 'age': [30, 40, 50]}
dict_keys(['name', 10, 'age'])
dict_values(['alice', 25, [30, 40, 50]])

In [40]:
d={'name':'alice',10:25,'age':[10,20,30]}
print(d.get('age'))

[10, 20, 30]

In [62]:
#appending list in dictionary
d={'name':'alice',10:25,'age':[10,20,30]}
#appending keys in dictionary
d1=[]
for i in d:
    print(i)
    d1.append(i)
print(d1)
# appending for values
g=[]
for i in d:
    y=d.get(i)
    g.append(y)
print(g)

name
10
age
['name', 10, 'age']
['alice', 25, [10, 20, 30]]

In [118]:
# #Student Marks Management

# ðŸ‘‰ Create a Python program to:
# 	â€¢	Store student names as keys and marks as values in a dictionary.
# 	â€¢	Allow adding new students with marks.
# 	â€¢	Allow updating marks of existing students.
# 	â€¢	Display highest, lowest, and average marks.
# 	â€¢	Show all records.
sum=0
number={'student1':23,'student2':33,'student3':43,'student4':53}
number['student5']=63# insertion
number['student1']=90 #updation
g=number.values()
print(f'marks of 5 students={list(g)}')
print(f'highest number={max(g)}')
print(f'lowest number={min(g)}')
for i in g:
    sum+=i
    avg= sum//5
print(f'Average number={avg}')
print(number)

marks of 5 students=[90, 33, 43, 53, 63]
highest number=90
lowest number=33
Average number=56
{'student1': 90, 'student2': 33, 'student3': 43, 'student4': 53, 'student5': 63}

In [122]:
# updating values 
d={"name":['yo','bro','honey'],"age":[10,20,30]}
d["name"][1]="prince"
print(d)

{'name': ['yo', 'prince', 'honey'], 'age': [10, 20, 30]}

In [129]:
# try and except explanation
try:
    print('raman')
    # print(raman)
except NameError:
    print("error occured")#run when error in try
else:
    print("done")#run when try is correct
finally:
    print("code done")# run everytime

raman
done
code done

In [15]:
class Person:
     def __init__(self,name,age):#constructor-it is called automatically when object is called
         self.name= name
         self.age= age
         
     def myfunc(self):
         print("hello my name is " +self.name)

         
p1 = Person("John",36)
print(p1.name)
print(p1.age)
p1.myfunc()

John
36
hello my name is John

In [ ]:
print("\t\t\t\t\t\t\t\t\t Welcome to hdfc bank")
class ATM:
    def __init__(self,balance):
        self.balance=balance
    def check_balance(self):
     print("Balance: â‚¹", self.balance)

    def deposit(self):
     amount = int(input("Enter amount to deposit: â‚¹"))
     self.balance += amount
     print("Deposited â‚¹", self.balance)
    
    def withdraw(self):
     amount = int(input("Enter amount to withdraw: â‚¹"))
     if amount <= self.balance:
        self.balance -= amount
        print("Withdrawn â‚¹", amount)
     else:
        print("Not enough balance!")
        
    def atm(self):
     while True:
        print("\n1. Check Balance\n2. Deposit\n3. Withdraw\n4. Exit")
        choice = input("Choose an option: ")

        if choice == '1':
            self.check_balance()
        elif choice == '2':
            self.deposit()
        elif choice == '3':
            self.withdraw()
        elif choice == '4':
            print("Thank you! Visit again.")
            break
        else:
            print("Invalid option.")
atm_obj=ATM(balance=50000)
atm_obj.atm()

									 Welcome to hdfc bank

1. Check Balance
2. Deposit
3. Withdraw
4. Exit

Choose an option:  1

Balance: â‚¹ 50000

1. Check Balance
2. Deposit
3. Withdraw
4. Exit

Choose an option:  2
Enter amount to deposit: â‚¹ 50000

Deposited â‚¹ 100000

1. Check Balance
2. Deposit
3. Withdraw
4. Exit